*
			{
				box-sizing: border-box;
			}
			.dropdown
			{
				background-color: white;
				color: white;
				border: 0px solid white;
				margin: auto;
				width: 100%;
			}
			.dropbtn
			{
				background-color: white;
				color: white;
				border: 0px solid white;
				width: 100%;
			}
			html
			{
				overflow-y: scroll;
			}
			body
			{
				font-family: comic sans ms;
			}
			#nav_bar
			{
				background-color: black;
				border: 1px solid black;
				font: 10px solid;
				filter: blur(40px)
			}
			#section_1
			{
				border: 1px solid black;
				margin: 10px;
				padding: 10px;
				background-color: yellow;
			}
			#title_1
			{
				font-weight: bold;
			}
			#text_1
			{
				padding: 10px;
				color: green;
			}
			[class*="col-"]
			{
				float: left;
				padding: 15px;
			}
			#section_2
			{
				border: 1px solid red;
				margin: 10px;
				padding: 10px;
				background-color: gray;
			}
			#title_2
			{
				font-weight: bold;
			}
			#text_2
			{
				padding: 10px;
				color: blue;
			}
			#section_3
			{
				border: 1px solid orange;
				margin: 10px;
				padding: 10px;
				background-color: lime;
			}
			#title_1
			{
				font-weight: bold;
			}
			#text_3
			{
				padding: 10px;
				color: violet;
			}
			#the_bar
			{
				position: sticky;
				text-align: left;
				font:20px bold arial;
				border: 1px solid black;
				background-color: gray;
				padding: 10px;
			}
			[class*="col-"]
			{
				float: left;
				padding: 15px;
			}
			#menu
			{
				text-align: center;
				font: 50px bold comic sans ms;
				color: red;
			}
			#footer
			{
				
			}
			@media screen and (max-width : 668px)
			{
				#text_1 #text_2 #text_3
				{
					width: 60%;
					margin: auto;
				}
			}
			@media screen and (max-width : 991px)
			{
				#text_1 #text_2 #text_3
				{
					width: 60%;
					margin: auto;
				}
				#nav_bar
				{
					border: 1px solid grey;
					font: 10px solid arial;
					text-align: center;
					filter: blur(0px);
					color: white;
				}
				.dropbtn{
					background-color: black;
					color: white;
					padding: 16px;
					font-size: 16px;
					border: none;
					}

.dropdown {
    position: relative;
    display: inline-block;
	width: 100%;
	background-color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}
			}
@media only screen and (min-width: 600px)
{
.col-t-1{width: 12.5%;}
.col-t-2{width: 25%;}
.col-t-3{width: 37.5%;}
.col-t-4{width: 50%;}
.col-t-5{width: 62.75%;}
.col-t-6{width: 75%;}
.col-t-7{width: 87.5%;}
.col-t-8{width: 100%;}
}
@media only screen and (min-width: 768px)
{
.col-1{width: 12.5%;}
.col-2{width: 25%;}
.col-3{width: 37.5%;}
.col-4{width: 50%;}
.col-5{width: 62.75%;}
.col-6{width: 75%;}
.col-7{width: 87.5%;}
.col-8{width: 100%;}
}
			
